<div id="{{project.name | replace: ' ', '' }}" class="documentation-section">
  <h3 style="color:#c53500;">{{project.name}}</h3>
  <p>{{project.details}}</p>
  <p>
  {% for item in project.resources %}
    <code>{{item}}</code>
  {% endfor %}
  </p>
  {% if project.tasks %}
  <h4>Task List</h4>
  <ul style="list-style:none;">
    {% for task in project.tasks %}
    <li><i class="fa fa-square-o"></i>&nbsp;{{task.name}}</li>
    {% endfor%}
  </ul>
  {% endif %}
  <h4>Progress {{project.progress}}%</h4>
  <p>
    <div style="border:solid thin rgba(119, 136, 153, 0.5);">
      <div style="width:{{project.progress}}%;background-color:{% if project.progress < 26%}#c53500{%elsif project.progress < 51%}goldenrod{%else%}darkseagreen;{%endif%}">&nbsp;</div>
    </div>
  </p>
  {% if project.url %}<a class="button button-outlined" href="{{project.url}}" target="_blank">Project Website</a>{% endif %}
</div>
<div class="spacer"> </div>
